#msg {
    display: none;
    color: green;
    font-weight: 10px;
    text-align: center;
}

.green {
    color: green
}

.loading {
    display: none;
    text-align: center;
}

.loading img {
    width: 400px;
    height: 400px;
}

.loading p {
    color: green;
    font-size: 20px;
}

.increase-size {
    font-weight: bold;
    font-size: 20px;
    color: yellow
}

.show {
    display: block;
}

.threads>div:last-child {
    display: none;
}

.search-submit-btn {
    margin: auto
}

.search-input,
.search-submit-btn,
.logout,
.refresh {
    width: 100%;
    margin: 5px;
}

.threads {
    cursor: pointer;
    margin: 10px;
    background: darkgray;
    padding: 10px;
    border-radius: 5px;
}

.messages {
    padding: 2px 0px;
    background: lightcyan;
    border-radius: 5px;
}

.singlemessages {
    margin: 5px 5px;
    background: lightgray;
    padding: 10px;
    border-radius: 5px;
}