form {
    text-align: center
}

input {
    display: block;
    width: 40%;
    margin: 15px auto
}

@media screen and (max-width:720px) {
    input {
        width: 90%;
    }
}

#error {
    color: red;
}